3.file 
.gradle
build/
.idea/workspace.xml
*.log
.idea/libraries/Gradle__org_jvnet_staxex_stax_ex_1_8.xml
.idea/libraries/Gradle__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_1_1_Final.xml
.idea/libraries/Gradle__org_jboss_logging_jboss_logging_3_3_2_Final.xml
.idea/libraries/Gradle__org_jboss_jandex_2_0_5_Final.xml
.idea/libraries/Gradle__org_javassist_javassist_3_24_0_GA.xml
.idea/libraries/Gradle__org_hibernate_hibernate_core_5_4_3_Final.xml
.idea/libraries/Gradle__org_hibernate_common_hibernate_commons_annotations_5_1_0_Final.xml
.idea/libraries/Gradle__org_glassfish_jaxb_txw2_2_3_1.xml
.idea/libraries/Gradle__org_glassfish_jaxb_jaxb_runtime_2_3_1.xml
.idea/libraries/Gradle__org_dom4j_dom4j_2_1_1.xml
.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_9_10.xml
.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_8_15.xml
.idea/libraries/Gradle__javax_xml_bind_jaxb_api_2_3_1.xml
.idea/libraries/Gradle__javax_persistence_javax_persistence_api_2_2.xml
.idea/libraries/Gradle__javax_activation_javax_activation_api_1_2_0.xml
.idea/libraries/Gradle__com_sun_xml_fastinfoset_FastInfoset_1_2_15.xml
.idea/libraries/Gradle__com_sun_istack_istack_commons_runtime_3_0_7.xml
.idea/libraries/Gradle__com_fasterxml_classmate_1_3_4.xml
.idea/libraries/Gradle__antlr_antlr_2_7_7.xml
.idea/modules/addressbook-web-tests.main.iml
.idea/modules/addressbook-web-tests.test.iml
.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_9_5.xml
.idea/libraries/Gradle__org_hibernate_common_hibernate_commons_annotations_5_0_4_Final.xml
.idea/libraries/Gradle__org_hibernate_hibernate_core_5_3_10_Final.xml
.idea/libraries/Gradle__org_javassist_javassist_3_23_2_GA.xml
.idea/modules.xml
soap-sample/gradle/wrapper/gradle-wrapper.jar
soap-sample/gradle/wrapper/gradle-wrapper.properties
soap-sample/gradlew.bat
soap-sample/gradlew
.idea/modules/soap-sample.test.iml
.idea/modules/soap-sample.main.iml
.idea/modules/soap-sample.iml
rest-sample/build.gradle
rest-sample/gradle/wrapper/gradle-wrapper.jar
rest-sample/gradle/wrapper/gradle-wrapper.properties
rest-sample/gradlew
rest-sample/gradlew.bat
rest-sample/out/production/classes/com/lavasoft/GeoIPService.class
rest-sample/out/production/classes/com/lavasoft/GeoIPServiceHttpGet.class
rest-sample/out/production/classes/com/lavasoft/GeoIPServiceHttpPost.class
rest-sample/out/production/classes/com/lavasoft/GeoIPServiceSoap.class
rest-sample/out/production/classes/com/lavasoft/GetCountryISO2ByName.class
rest-sample/out/production/classes/com/lavasoft/GetCountryISO2ByNameResponse.class
rest-sample/out/production/classes/com/lavasoft/GetCountryNameByISO2.class
rest-sample/out/production/classes/com/lavasoft/GetCountryNameByISO2Response.class
rest-sample/out/production/classes/com/lavasoft/GetIpLocation.class
rest-sample/out/production/classes/com/lavasoft/GetIpLocation20.class
rest-sample/out/production/classes/com/lavasoft/GetIpLocation20Response.class
rest-sample/out/production/classes/com/lavasoft/GetIpLocationResponse.class
rest-sample/out/production/classes/com/lavasoft/GetLocation.class
rest-sample/out/production/classes/com/lavasoft/GetLocationResponse.class
rest-sample/out/production/classes/com/lavasoft/ObjectFactory.class
rest-sample/out/production/classes/com/lavasoft/package-info.class
rest-sample/out/production/resources/geoservice.wsdl
rest-sample/out/test/classes/ru/omnicomm/soap/GeoIpServiceTests.class
rest-sample/src/main/java/com/lavasoft/GeoIPService.java
rest-sample/src/main/java/com/lavasoft/GeoIPServiceHttpGet.java
rest-sample/src/main/java/com/lavasoft/GeoIPServiceHttpPost.java
rest-sample/src/main/java/com/lavasoft/GeoIPServiceSoap.java
rest-sample/src/main/java/com/lavasoft/GetCountryISO2ByName.java
rest-sample/src/main/java/com/lavasoft/GetCountryISO2ByNameResponse.java
rest-sample/src/main/java/com/lavasoft/GetCountryNameByISO2.java
rest-sample/src/main/java/com/lavasoft/GetCountryNameByISO2Response.java
rest-sample/src/main/java/com/lavasoft/GetIpLocation.java
rest-sample/src/main/java/com/lavasoft/GetIpLocation20.java
rest-sample/src/main/java/com/lavasoft/GetIpLocation20Response.java
rest-sample/src/main/java/com/lavasoft/GetIpLocationResponse.java
rest-sample/src/main/java/com/lavasoft/GetLocation.java
rest-sample/src/main/java/com/lavasoft/GetLocationResponse.java
rest-sample/src/main/java/com/lavasoft/ObjectFactory.java
rest-sample/src/main/java/com/lavasoft/package-info.java
rest-sample/src/main/resources/geoservice.wsdl
rest-sample/src/test/java/ru/omnicomm/rest/Issue.java
soap-sample/out/test/classes/ru/omnicomm/soap/GeoIpServiceTests.class
soap-sample/src/test/java/ru/omnicomm/soap/GeoIpServiceTests.java
rest-sample/build.gradle
rest-sample/gradle/wrapper/gradle-wrapper.jar
rest-sample/gradle/wrapper/gradle-wrapper.properties
rest-sample/gradlew
rest-sample/gradlew.bat
rest-sample/src/test/java/ru/omnicomm/rest/Issue.java
